!!!  
%html  
  %head
    %link{:rel=>'stylesheet', :href=>'/closure-library/closure/goog/css/tab.css'}
    %link{:rel=>'stylesheet', :href=>'/closure-library/closure/goog/css/tabbar.css'}
    %link{:rel=>'stylesheet', :href=>'/style.css'}
    =content :head
  %body  
    #content
      =content :body
